@{
    ViewBag.Title = "Home Page";
}
@using ASP_Test.Models
@model List<User>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ASP NET MVC</title>
    <link rel="stylesheet" type="text/css" href="~/Content/index.css">
</head>
<body>
<div>
    <table id="user-list" class="table table-hover">
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th><th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ID
                </td>
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    <input type="button" value="Edit" onclick="location.href = '@Url.Action("EditUser", "Home",new{id = item.ID})'" class="btn btn-info" />
                    <input type="button" value="Remove" onclick="location.href = '@Url.Action("RemoveUser", "Home",new{id = item.ID})'" class="btn btn-danger" />
                </td>
            </tr>
        }
    </table>
    <div>
        <input type="button" value="Add user" onclick="location.href = '@Url.Action("AddUser", "Home")'" class="btn btn-success" />
    </div>
</div>
</body>
</html>

